body{
    /* fundo */
    background-image: url("kardashian-jenner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
  
  /* caixa de login */
div{
    background-color:#ded1bd;
    width: 600px;
    margin: 50px;
    margin-top: -145px;
    height: 790px;
    border-radius: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);

}

    /* cor letras */
    h1{color: #3e1d20; 
        font-weight: bold;}
    .p1{color: #3e1d20;}
    .email{color: #3e1d20;
        font-weight: bold;}
    .senha{color: #3e1d20;
        font-weight: bold;}
    .recuperar{color: #3e1d20;}
    .aqui{color: #3e1d20;}
    

    /* escrita */
    input{ margin-left: 50px;background-color: white; height: 60px; width: 480px; border-radius: 40px; padding-left: 20px;}
    h1{text-align: center; font-size:70px; padding-top: 55px;}
    .p1{text-align: center; font-size: 30px; margin-top: -45px;}

    .email{margin:50px;
         font-size: 40px;
         position: absolute;
         top: 176px;
        }
    #email2{position: absolute;
        top: 276px ;
    }

    .senha{margin: 50px; 
        font-size: 40px;
        position: absolute;
        top: 330px;
    }
    #senha2{position: absolute; 
        top: 430px;}

    
    .recuperar{margin-left: 50px;
         font-size: 20px; 
         cursor: pointer; 
         position: absolute; 
         top: 500px;}

    /* botão acessar */
    .acessar{font-size:40px ; 
        color: white;
        text-transform: uppercase;
        font-weight: bold;
         padding-left: 50px; 
         padding-right: 50px;
         padding-top: 10px;
         padding-bottom: 10px;
         background-color: #3e1d20; 
         border-radius: 50px; 
         position: absolute;
         top: 595px;
         left: 140px;
         cursor: pointer;
         box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

    }

    /* cria sua conta */
    .aqui{position: absolute; top: 680px;left: 202px;
        font-size: 20px;

    }

    /* logo */
    .logo{ width: 600px;
        margin-left: 65px;
        margin-top: -35px;
        position: relative;
        z-index: 1;
       

    }
    


  
      